In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
df = pd.read_excel('..\\datasets\\aku_prin_v2.0.xlsx')

,patient,sex,birth,creatinine_urines mg/dl,HGA_u mg/dl,HGA_U mg/24h,bqa,urate,uric_acid_urine,tyr_urines,...,creatinine_plasma,hga_plasma,tyr,phe,trp,hypoxanthine,xanthine,uracil,uric_acid,nitisinone
0,101A,F,1963.0,24.88,111.360000,NaN,NaN,NaN,NaN,0.51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,102A,F,1964.0,26.01,89.220390,NaN,NaN,NaN,NaN,0.652284,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,105A,F,1958.0,32.80,156.127275,NaN,NaN,NaN,NaN,1.08714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,106A,F,1954.0,18.09,68.134380,NaN,NaN,NaN,NaN,<0.35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,107A,F,1952.0,36.19,165.291450,NaN,NaN,NaN,NaN,<0.35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,296C,M,2014.0,17.96,264.740000,42.26,NaN,NaN,12.35,NaN,...,NaN,20.12,103.11,NaN,56.97,5.22,4.83,5.62,201.86,NaN
215,297C,M,1995.0,267.62,709.960000,709.96,NaN,NaN,91.39,NaN,...,NaN,46.60,174.94,NaN,NaN,NaN,NaN,6.76,487.31,NaN
216,298C,M,1965.0,96.89,287.680000,6904.25,NaN,NaN,NaN,NaN,...,NaN,53.30,135.55,NaN,63.52,10.65,1.21,NaN,278.98,NaN
217,298S,M,1965.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
218,299S,M,1952.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df

,patient,sex,birth,creatinine_urines mg/dl,HGA_u mg/dl,HGA_U mg/24h,bqa,urate,uric_acid_urine,tyr_urines,...,creatinine_plasma,hga_plasma,tyr,phe,trp,hypoxanthine,xanthine,uracil,uric_acid,nitisinone
0,101A,F,1963.0,24.88,111.360000,NaN,NaN,NaN,NaN,0.51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,102A,F,1964.0,26.01,89.220390,NaN,NaN,NaN,NaN,0.652284,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,105A,F,1958.0,32.80,156.127275,NaN,NaN,NaN,NaN,1.08714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,106A,F,1954.0,18.09,68.134380,NaN,NaN,NaN,NaN,<0.35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,107A,F,1952.0,36.19,165.291450,NaN,NaN,NaN,NaN,<0.35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,296C,M,2014.0,17.96,264.740000,42.26,NaN,NaN,12.35,NaN,...,NaN,20.12,103.11,NaN,56.97,5.22,4.83,5.62,201.86,NaN
215,297C,M,1995.0,267.62,709.960000,709.96,NaN,NaN,91.39,NaN,...,NaN,46.60,174.94,NaN,NaN,NaN,NaN,6.76,487.31,NaN
216,298C,M,1965.0,96.89,287.680000,6904.25,NaN,NaN,NaN,NaN,...,NaN,53.30,135.55,NaN,63.52,10.65,1.21,NaN,278.98,NaN
217,298S,M,1965.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
218,299S,M,1952.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.describe()

,birth,creatinine_urines mg/dl,HGA_u mg/dl,bqa,urate,uric_acid_urine,hypoxanthine_urines,xanthine_urines,SAA (ug/mL),chitotriosidase,...,creatinine_plasma,hga_plasma,tyr,phe,trp,hypoxanthine,xanthine,uracil,uric_acid,nitisinone
count,213.000000,78.000000,89.000000,6.000000,2.000000,30.000000,5.00000,6.000000,191.000000,174.000000,...,10.000000,40.000000,52.000000,11.000000,36.000000,49.000000,34.000000,27.000000,51.000000,0.0
mean,1965.122066,121.869538,232.385753,55.908333,2.345000,72.471000,1.64600,3.306667,54.392356,61.887011,...,145.635000,42.203250,151.081731,129.827273,63.181944,7.986531,3.865294,9.642963,373.981961,NaN
std,13.770153,326.520185,269.182330,65.174104,0.205061,64.125895,1.24785,3.214048,65.408401,38.139856,...,37.523726,19.278142,291.055305,84.929458,23.616071,11.069076,4.233448,23.158723,108.601232,NaN
min,1934.000000,17.960000,0.521265,16.700000,2.200000,12.350000,0.34000,0.750000,0.860000,8.200000,...,82.980000,13.070000,42.870000,36.260000,8.170000,1.490000,0.000000,1.330000,119.400000,NaN
25%,1955.000000,47.510400,22.918845,20.070000,2.272500,32.737500,0.57000,1.082500,14.310000,33.002500,...,119.720000,24.122500,83.580000,74.685000,49.332500,3.460000,1.147500,3.015000,297.100000,NaN
50%,1963.000000,69.003200,187.350000,30.600000,2.345000,55.745000,1.72000,1.685000,29.590000,54.100000,...,147.850000,44.615000,101.370000,91.000000,61.075000,5.220000,2.480000,4.750000,382.100000,NaN
75%,1973.000000,102.552000,281.320000,48.892500,2.417500,91.082500,2.21000,5.347500,70.600000,79.700000,...,170.880000,54.290000,135.550000,182.500000,72.622500,7.300000,4.410000,7.180000,464.835000,NaN
max,2014.000000,2920.590000,1322.330000,186.000000,2.490000,346.600000,3.39000,8.270000,344.200000,203.000000,...,208.850000,89.750000,2181.500000,273.000000,124.830000,59.660000,15.650000,124.800000,561.910000,NaN